body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

/* Header */

/* Selector */
.selector_container {
  margin-top: 4rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selector_container > select {
  border-radius: 40px 0 0 40px;
  /* border: transparent; */
  width: 498px;
  height: 50px;
  padding: 0.5rem 1rem;
  appearance:none;
  /* color: #fff; */
  color: #404040;
  font-size: 1.2rem;
  /* background: linear-gradient(250.6deg, #ff8d6a 7.3%, rgb(255, 181, 53) 98.63%); */
  background: #fff;
}

.selector_container > select:active, .selector_container > select:focus, .selector_container > select:hover {
  /* outline: 0;
  border: none; */
  cursor: pointer;
}

.selector_container > button {
  width: 98px;
  height: 50px;
  border-radius: 0 40px 40px 0;
  background: #ff8d6a;
  border: none;
  /* border-left: 2px solid #fff; */
  color: white;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-family: 'Bangers', cursive;
}

.selector-container > button:hover {
  color: #4473ff;
  background-color:#fff;
  transition: 0.3s all;
}

.selector_loading {
  height: 150px;
  width: 100%;
}

.selector_loading_img {
  z-index: 1;
}

.selector_loading_img img {
  height: 150px;
  width: 150px;
}

.recipes_container {
  width: 720px;
  margin: 0 auto;
}

/* Recipe */
.recipe {
  display: flex;
  flex-direction: row;
  padding: 12px;
  border-top: 1px solid #ccc;
}

.recipe_detail {
  position: relative;
  width: 100%;
  background-color: #fff;
  text-align: left;
  margin-left: 10px;
}
.recipe_detail:hover {
  background-color: rgb(247, 247, 247);
}

.recipe_detail a {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  text-decoration: none;
}

.recipe_detail a:hover {
  opacity: 0.5;
}

.recipe_img img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}


.recipe_detail_title {
  display: block;
  font-weight: bold;
  color: #4765ff;
  margin-bottom: 15px;
}

.recipe_detail_description {
  display: inline-block;
  font-size: 0.8rem;
  color: #404040;
  margin-bottom: 10px;
  max-width: 536px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recipe_detail_material {
  display: block;
  font-size: 0.8rem;
  color: #404040;
  margin-bottom: 10px;
  max-width: 536px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recipe_detail_icon {
  color: #ff7b00;
  margin-bottom: 10px;
}

.MuiSvgIcon-root {
  color: #ff7b00;
  width: 0.7em !important;
  height: 0.7em !important;
  vertical-align: -3px ;
}
